.navbar {
	margin: 0;
	@include border-radius(0);
	// Fix weird nav margin on fluid width.
	.container-fluid {
		padding-right:0;
		
		@include breakpoint(m) {
			padding-right:15px;
		}
		.navbar-collapse {
			padding-right:0;
			
			@include breakpoint(m) {
				padding-right:15px;
			}
		}
	}
}

ul.navbar-nav {
	
	@include breakpoint(m) {
		margin: 0 -15px;
	}
}

.navbar-form {
	
	@include breakpoint(m) {
		margin: 0 -15px;
		border: none;
	}
}

// better bootstrap toggle
.navbar-toggle {
	border: none;
	background: transparent !important;
	&:hover {
		background: transparent !important;
	}
	.icon-bar {
		width: 22px;
		transition: all 0.2s;
	}
	.top-bar {
		@include rotate(45deg);
		transform-origin: 10% 10%;
	}
	.middle-bar {
		opacity: 0;
	}
	.bottom-bar {
		@include rotate(-45deg);
		transform-origin: 10% 90%;
	}
	&.collapsed {
		.top-bar {
		@include rotate(0);   
		}
		.middle-bar {
		opacity: 1;
		}
		.bottom-bar {
		@include rotate(0); 
		}
	}
}