/* Handle sticky posts */
.sticky {	
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Tables */
table {
	border: none !important;
	border-bottom: 1px solid #ddd !important;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	margin: 0 0 1.625em;
	width: 100%;
	tr th {
		border: none !important;
		color: #666;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 0.1em;
		line-height: 2.6em;
		text-transform: uppercase;
	}
	td {
		border: none !important;
		border-top: 1px solid #ddd !important;
		padding: 6px 10px 6px 0;
	}
}

/* Images */
img[class*="wp-image-"] {
	height: auto;
	max-width: 97.5%;
}
img.size-full {
	width: auto; /* Prevent stretching of full-size images in IE8 */
}
img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
p img,
.wp-caption {
	margin-top: 0.4em;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: $end;
}
.wp-caption {
	background: #eee;
	border: none;
	margin-bottom: $end;
	max-width: 96%;
	padding: 9px;
}
.wp-caption img {
	display: block;
	margin: 5px auto 0 !important;
	max-width: 98%;
	border-color: #eee;
}
.wp-caption .wp-caption-text,
.wp-caption-dd {
	color: #666;
	font-family: Georgia, serif !important;
	font-size: 12px;
	margin: 0 0 0.6em 0 !important;
	padding: 0 0 5px 40px;
	position: relative;
	text-align: left;
}
.wp-caption .wp-caption-text:before {
	color: #666;
	content: '\2014';
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin-right: 5px;
	position: absolute;
	left: 10px;
	top: 7px;
}
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"] {
	background: #eee;
	border-color: #bbb;
}
.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {
	background: #fff;
	border-color: #ddd;
}